////////////////////////////
// 1) Class => obj img
.resize-img {
  width: 100vw;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

////////////////////////////
// 2) ADD CLASSES BORDER RADUIS
@each $name, $size in $borderRaduis {
  .radius-#{$name} {
    border-radius: $size;
  }
}

////////////////////////////
// 3) - Other
.cursor-pointer {
  cursor: pointer;
}

//
.border {
  //
  &-botton-whiteDark {
    border-bottom: 2px solid var(--whiteDark);
  }
  //
  &-botton-Voodoo {
    border-bottom: 1px solid var(--Voodoo);
  }
  //
  &-top-whiteDark {
    border-top: 2px solid var(--whiteDark);
  }
}

.text-align-center {
  @media only screen and (max-width: 768px) {
    text-align: center !important;
  }
}

.shape {
  //
  @include DetectHover {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      transition: all 0.5s ease-in-out;
      opacity: 0;
      z-index: 1;
    }

    &:hover::after {
      transform: perspective(1000px) rotateY(180deg);
      opacity: 1;
    }

    &__coral {
      //
      &:hover::after {
        background-color: var(--coral);
      }
    }

    &__Voodoo {
      //
      &:hover::after {
        background-color: var(--Voodoo);
      }
    }
  }
}
