////////////////////////////
// 1) Class => obj img
.resize-img {
  width: 100vw;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

////////////////////////////
// 2) ADD CLASSES BORDER RADUIS
@each $name, $size in $borderRaduis {
  .radius-#{$name} {
    border-radius: $size;
  }
}

////////////////////////////
// 3) - Other
.cursor-pointer {
  cursor: pointer;
}
