////////////////////////////
// 1) ADD CLASSES BORDER RADUIS
@each $name, $size in $borderRaduis {
  .radius-#{$name} {
    border-radius: $size;
  }
}
////////////////////////////
// 2) - Other
.cursor-pointer {
  cursor: pointer;
}
.pointer-event-none {
  pointer-events: none;
}
.direction-ltr {
  direction: ltr;
}
.truncut-text {
  max-width: 40rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  @media only screen and (max-width: 768px) {
    max-width: 30rem;
  }
}
.video__wrapper {
  min-width: 70vw;

  @media only screen and (max-width: 768px) {
    min-width: 100vw;
  }

  .plyr {
    min-width: 100%;
  }
}
.space-between-slides {
  .slick-slide {
    padding: 0 7px;
  }
}
.shadow {
  &__card-1 {
    box-shadow: 0px 5px 10px rgba(#bebebe17, 0.2);
  }
  &__card-2 {
    box-shadow: 0px 1px 24px #70707012;
  }
  &__user-options-list {
    box-shadow: 0px 3px 25px #aeaeae1f;
  }
  &__user-options-list-1 {
    box-shadow: 0px 8px 24px #9c9c9c17;
  }
}
.underline {
  text-decoration: underline !important;
  //
  &:hover {
    color: var(--chardonnay);
  }
}

//
.border {
  &-bottom-whiteDark {
    border-bottom: 2px solid var(--whiteDark);
  }
  &-whiteDark-all {
    border: 1px solid var(--whiteDark);
  }
  &-whiteDark {
    border: 2px solid var(--whiteDark);
  }
  &-whiteDark-left {
    border-left: 1px solid var(--whiteDark);
  }
  &-coral-1 {
    border: 1px solid var(--coral);
  }
  &-bottom-voodoo {
    border-bottom: 1px solid var(--voodoo);
  }
  &-top-whiteDark {
    border-top: 2px solid var(--whiteDark);
  }
  &-gallery {
    border: 1px solid var(--gallery);
  }
}
.text-align-center {
  @media only screen and (max-width: 768px) {
    text-align: center !important;
  }
}
.shape {
  overflow: hidden;
  //
  @include DetectHover {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      transition: all 0.5s ease-in-out;
      opacity: 0;
      z-index: 1;
    }

    &:hover::after {
      transform: perspective(1000px) rotateY(180deg);
      opacity: 1;
    }

    &__coral {
      //
      &:hover::after {
        background-color: var(--coral);
      }
    }

    &__voodoo {
      //
      &:hover::after {
        background-color: var(--voodoo);
      }
    }
  }
}
.set-padding {
  @media only screen and (min-width: 1350px) {
    padding-left: 105px;
    padding-right: 105px;
  }
}
.translate-up-slider-action {
  .slider__actions {
    transform: translateY(4rem);
  }
}
.specific-size {
  @media only screen and (min-width: 1350px) {
    flex-basis: calc(97% / 3);
  }

  @media only screen and (max-width: 1350px) {
    flex-basis: calc(97% / 3);
  }

  @media only screen and (max-width: 992px) {
    flex-basis: calc(97% / 2);
  }

  @media only screen and (max-width: 600px) {
    flex-basis: 100%;
  }
}
.max-width-831 {
  max-width: 83.1rem;
}
.global-style-sidebar {
  @include position('lt', $moveR: 0, $moveT: 0);
  box-shadow: -3px 0px 50px #bbb8b8bd;
}
.zindex-4 {
  z-index: 4;
}
.resize-img {
  width: 100vw;
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  object-fit: cover;
}
.position-top-img {
  object-position: center top;
}
.user-select-none {
  user-select: none;
}
//
.user-options {
  &__item {
    &:not(:last-of-type) {
      border-bottom: 1px solid var(--whiteDark);
    }

    a {
      color: var(--dark);
    }
  }
}
.custom-upload-file-1 {
  //
  .upload-file {
    @include position('lb', $moveB: 0, $moveL: '-15px');
  }
}
.fit-content {
  width: fit-content;
}
.change-scrollbar-x {
  @include scrollBar(5px, $light, $whiteDark) {
    border-radius: 20px;
  }

  &::-webkit-scrollbar {
    height: 5px;
  }
}
