// Right
.slide-right-enter-active {
  animation: slide-right-in 0.5s cubic-bezier(0.04, 0.55, 0.5, 0.97) forwards;
}
.slide-right-leave-active {
  animation: slide-right-out 0.3s cubic-bezier(0.04, 0.55, 0.5, 0.97) forwards;
}

.slide-right-enter-active,
.slide-right-leave-active {
  will-change: animation;
}

@keyframes slide-right-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes slide-right-out {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}

// Left
.slide-left-enter-active {
  animation: slide-left-in 0.5s cubic-bezier(0.04, 0.55, 0.5, 0.97) forwards;
}
.slide-left-leave-active {
  animation: slide-left-out 0.3s cubic-bezier(0.04, 0.55, 0.5, 0.97) forwards;
}

.slide-left-enter-active,
.slide-left-leave-active {
  will-change: animation;
}

@keyframes slide-left-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes slide-left-out {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
