//
.btn {
  transition: background-color 0.3s ease;
  //
  &-Voodoo {
    background-color: var(--Voodoo);

    &-outline {
      border: 1px solid var(--Voodoo);
    }

    //
    @include DetectHover {
      //
      &:hover {
        background-color: rgba($Voodoo, 0.9);
        color: var(--light);
      }
    }
  }

  //
  &-voodoo-light {
    //
    @include DetectHover {
      //
      &:hover {
        background-color: var(--voodoo-light);
        color: var(--light);
      }
    }
  }

  &-chardonnay {
    //
    @include DetectHover {
      //
      &:hover {
        background-color: rgba($chardonnay, 0.9);
        color: var(--light);
      }
    }
  }
  //
  &-coral {
    @include DetectHover {
      //
      &:hover {
        background-color: rgba($coral, 0.9);
        color: var(--light);
      }
    }
  }
  //
  &-emerald {
    background-color: var(--emerald);

    //
    @include DetectHover {
      &:hover {
        background-color: rgba($emerald, 0.9);
        color: var(--light);
      }
    }
  }
}
