.custom-input {
  //
  & input {
    //
    &::placeholder {
      font-weight: 300;
    }
  }
  //
  &--object-1 {
    //
    & input {
      //
      &::placeholder {
        color: var(--gray);
      }
    }
  }
  //
  &--object-2 {
    //
    & input {
      //
      &::placeholder {
        color: var(--london);
      }
    }
  }

  &--object-3 {
    & input,
    & textarea {
      &:focus {
        transition: border-color 0.3s ease;
        border-color: var(--coral);
      }
      &::placeholder {
        font-weight: 300;
        color: var(--silver);
      }
    }
  }
}

textarea,
select {
  border: 1px solid var(--whiteDark);
  resize: none;
  //
  &:focus {
    outline: none;
    border-color: var(--coral);
  }
}
