////////////////////////////
// All Colors Variables
////////////////////////////
$dark: #000000;
$whiteDark: #f5f5f5;
$light: #ffff;
$gray: #7d7b7b;
$Voodoo: #452b4e;
$voodoo-light: #503758;
$coral: #ff805d;
$silver: #9e9e9e;
$snuff: #d8c5df;
$london: #c6b1cd;
$emerald: #61c589;
$rhino: #334565;
$chardonnay: #ffcc7b;
$picton: #40cde8;
$alabaster: #fafafa;
$alto: #dedede;
$gallery: #ebebeb;
$smoky: #635972;
$roseWhite: #fffaf9;
$chardon: #fff3f0;
$sauvignon: #fff6f3;
$facebook: #395693;
$twitter: #1da0ee;
$linkedin: #0470ac;
$whatsapp: #25d366;

// 1) Themes Colors
$themes: (
  dark: $dark,
  whiteDark: $whiteDark,
  gray: $gray,
  light: $light,
  Voodoo: $Voodoo,
  coral: $coral,
  silver: $silver,
  snuff: $snuff,
  voodoo-light: $voodoo-light,
  london: $london,
  emerald: $emerald,
  rhino: $rhino,
  chardonnay: $chardonnay,
  picton: $picton,
  alabaster: $alabaster,
  alto: $alto,
  gallery: $gallery,
  smoky: $smoky,
  roseWhite: $roseWhite,
  chardon: $chardon,
  sauvignon: $sauvignon,
  facebook: $facebook,
  twitter: $twitter,
  linkedin: $linkedin,
  whatsapp: $whatsapp,
);

////////////////////////////
// 2) Font
$font: (
  family: '',
  weight: ':wght@200;400;700',
  addWeight: (),
  sizes: (
    10: 1rem,
    11: 1.1rem,
    12: 1.2rem,
    13: 1.3rem,
    14: 1.4rem,
    15: 1.5rem,
    16: 1.6rem,
    17: 1.7rem,
    18: 1.8rem,
    20: 2rem,
    22: 2.2rem,
    29: 2.9rem,
    30: 3rem,
    38: 3.8rem,
  ),
);

//
$customFont: (
  status: true,
  name: 'BR',
  src: '../fonts/',
  weights: (
    bold: (
      ext: 'bold.ttf',
      weight: 400,
    ),
    regular: (
      ext: 'regular.ttf',
      weight: 300,
    ),
  ),
);

//
$baseFont: 'BR';

// Choose color text
// Ex => first-color second-color ..etc if null will render all themes
$chooseColorText: (
  'dark',
  'light',
  'Voodoo',
  'coral',
  'silver',
  'snuff',
  'london',
  'rhino',
  'chardonnay',
  'picton'
);

////////////////////////////
/// 3) - SVG
// SVG - SIZE
$svg: (
  11: 1.1rem,
  20: 2rem,
  22: 2.2rem,
  70: 7rem,
  90: 9rem,
  37: 3.7rem,
  140: 14rem,
);

// Choose fill svg
// Ex => first-color second-color ..etc if null will render all themes
$chooseFillSvg: ('light', 'Voodoo', 'coral', 'light');

////////////////////////////
/// 4) - DISPLAY
// Choose type display will add classes
// Ex => flex - grid - block - inline-block - table - box
$chooseDisplay: ();

// Choose type aligment will add classes
// Ex => justify-content - align-items - align-self - align-content
$chooseAligmentFlex: ();

// Choose type aligment will add classes
// Ex => flex-grow flex-shrink
$chooseGrowAndShrink: ();

////////////////////////////
/// 5) - WIDTH
// Write all width you need
$chooseWidth: (
  100: 100%,
  148: 14.8rem,
  181: 18.1rem,
  195: 19.5rem,
  75: 75%,
  349: 349px,
  155: 15.5rem,
  61: 6.1rem,
  24: 2.4rem,
  74: 74px,
  220: 220px,
  41: 4.1rem,
  58: 5.8rem,
  50: 50%,
  116: 11.6rem,
  267: 26.7rem,
  32: 3.2rem,
  91: 9.1rem,
  30: 30%,
);

////////////////////////////
/// 6) - HEIGHT
// Write all height you need
$chooseHeight: (
  20: 2rem,
  24: 2.4rem,
  33: 3.3rem,
  41: 4.1rem,
  55: 5.5rem,
  60: 6rem,
  100: 100%,
  109: 109px,
  115: 11.5rem,
  32: 3.2rem,
  91: 9.1rem,
);

////////////////////////////
// 7) Padding
$padding: (
  5: 5px,
  10: 1rem,
  15: 1.5rem,
  20: 2.1rem,
  25: 2.5rem,
  27: 2.7rem,
  30: 3rem,
  45: 4.5rem,
  67: 6.7rem,
  61: 6.1rem,
  89: 8.9rem,
  0: 0,
);

////////////////////////////
// 8) Margin
$margin: (
  5: 0.5rem,
  10: 1rem,
  15: 1.5rem,
  18: 1.8rem,
  20: 2rem,
  21: 2.1rem,
  30: 3rem,
  38: 3.8rem,
  40: 4rem,
  50: 5rem,
  76: 7.6rem,
  90: 9rem,
  110: 11rem,
  0: 0,
);

////////////////////////////
// 10) BORDER RADUIS
$borderRaduis: (
  21: 21px,
  25: 2.5rem,
  60: 6rem,
  18: 1.8rem,
  27: 2.7rem,
  10: 1rem,
  14: 1.4rem,
  9: 9px,
);

////////////////////////////
// 11) OTHER
// Prorperty Change Scroll Bar
$colorTrack: null;
$colorThumb: null;
$widthTrack: null;

// Change Color Selection
$colorSelection: null;
